<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Main page</title>-->
<!--</head>-->
<!--<body>-->
<!--<span>Баланс карты</span>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div>
<!--    Balance is <span th:text="${balance.getBalance()}"></span>-->
    <span>Balance is</span>
</div>
</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en" th:replace="~{layoutFile :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Home</title>-->
<!--    <link rel="stylesheet" type="text/css" href="css/style.css" media="screen"/>-->
<!--</head>-->
<!--<body>-->
<!--<section>-->
<!--    <h1>Documentations</h1>-->
<!--    <ul th:each="entries:${entries}">-->
<!--        <a th:href="@{/{entries}/index.html(entries=${entries.id})}">-->
<!--            <li th:text="${entries.title}" id="menu-entries"></li>-->
<!--        </a>-->
<!--    </ul>-->
<!--</section>-->
<!--</body>-->
<!--</html>-->